button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

  .se-btn {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
    line-height: 20px;
    font-weight: normal;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    color: #333;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-bottom-color: #c2c2c2;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, white),
        color-stop(100%, #e6e6e6));
    background-image: -webkit-linear-gradient(white, #e6e6e6);
    background-image: -moz-linear-gradient(white, #e6e6e6);
    background-image: -o-linear-gradient(white, #e6e6e6);
    background-image: -ms-linear-gradient(white, #e6e6e6);
    background-image: linear-gradient(white, #e6e6e6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    white-space: nowrap;
    box-sizing: border-box;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
    .se-btn .se-stacked-icon {
      background-color: white;
      border: solid 1px white; }
      .se-btn:hover, .se-btn:focus, .se-btn.focus, .se-btn:active, .se-btn.active,
      .se-btn.disabled, .se-btn[disabled] {
        text-decoration: none;
        color: #333;
        background-color: #e6e6e6;
        background-position: 0 -15px;
        transition: background-position 0.1s linear; }
        .se-btn:hover .se-stacked-icon, .se-btn:focus .se-stacked-icon,
        .se-btn.focus .se-stacked-icon, .se-btn:active .se-stacked-icon,
        .se-btn.active .se-stacked-icon, .se-btn.disabled .se-stacked-icon,
        .se-btn[disabled] .se-stacked-icon {
          background-color: #e6e6e6; }
          .se-btn:hover .se-stacked-icon.bottom-right,
          .se-btn:focus .se-stacked-icon.bottom-right,
          .se-btn.focus .se-stacked-icon.bottom-right,
          .se-btn:active .se-stacked-icon.bottom-right,
          .se-btn.active .se-stacked-icon.bottom-right,
          .se-btn.disabled .se-stacked-icon.bottom-right,
          .se-btn[disabled] .se-stacked-icon.bottom-right {
            border-left: solid 1px #e6e6e6; }
    .se-btn:active, .se-btn.active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
      .se-btn:focus {
        outline: none;
        box-shadow: 0 0 6px 2px rgba(82, 168, 236, 0.6); }
        .se-btn:focus:active, .se-btn.focus:active, .se-btn:focus.active,
        .se-btn.focus.active {
          box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 3px 5px rgba(0, 0, 0, 0.125); }
          .se-btn.disabled {
            opacity: 0.65;
            background-image: none;
            cursor: default; }
            .se-btn .se-icon {
              position: relative; }
              .se-btn .se-icon + span {
                margin-left: 12px; }
                .se-btn .badge {
                  position: absolute;
                  top: 12%;
                  left: 75%;
                  z-index: 1;
                  margin: 0;
                  -webkit-transform: translate(-50%, -50%);
                  -moz-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  -o-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
                  .se-btn .se-stacked-icon.bottom-left, .se-btn .se-stacked-icon.bottom-right,
                  .se-btn .se-stacked-icon.top-left, .se-btn .se-stacked-icon.top-right {
                    font-size: 10px; }

.se-btn:focus, .se-btn:hover {
  z-index: 2; }

  .se-btn.open {
    z-index: 111113; }

    .se-btn.plain {
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 0px;
      margin-top: 0px;
      vertical-align: baseline;
      text-shadow: none;
      background: transparent;
      padding: 0;
      border: 0 none transparent;
      border-radius: 0px;
      box-shadow: none;
      color: inherit;
      opacity: 0.7; }
      .se-btn.plain:focus, .se-btn.plain:hover, .se-btn.plain.disabled,
      .se-btn.plain:active {
        background: transparent;
        border: 0 none transparent; }
        .se-btn.plain:focus, .se-btn.plain:hover, .se-btn.plain:active {
          opacity: 1; }
          .se-btn.plain.disabled {
            opacity: 0.4; }

.se-btn img.icon {
  margin: 3px;
  vertical-align: middle; }

  .se-btn.btn-large, .se-btn.btn-lg, .btn-group-lg .se-btn,
  .se-input-group-lg > .se-btn {
    font-size: 18px;
    height: 42px;
    padding: 10px 16px;
    border-radius: 6px; }
    .se-btn.btn-large .se-icon + span, .se-btn.btn-lg .se-icon + span,
    .btn-group-lg .se-btn .se-icon + span, .se-input-group-lg > .se-btn .se-icon + span {
      margin-left: 16px; }
      .se-btn.btn-large .se-stacked-icon.bottom-left,
      .se-btn.btn-large .se-stacked-icon.bottom-right,
      .se-btn.btn-large .se-stacked-icon.top-left,
      .se-btn.btn-large .se-stacked-icon.top-right,
      .se-btn.btn-lg .se-stacked-icon.bottom-left,
      .se-btn.btn-lg .se-stacked-icon.bottom-right,
      .se-btn.btn-lg .se-stacked-icon.top-left,
      .se-btn.btn-lg .se-stacked-icon.top-right,
      .btn-group-lg .se-btn .se-stacked-icon.bottom-left,
      .btn-group-lg .se-btn .se-stacked-icon.bottom-right,
      .btn-group-lg .se-btn .se-stacked-icon.top-left,
      .btn-group-lg .se-btn .se-stacked-icon.top-right,
      .se-input-group-lg > .se-btn .se-stacked-icon.bottom-left,
      .se-input-group-lg > .se-btn .se-stacked-icon.bottom-right,
      .se-input-group-lg > .se-btn .se-stacked-icon.top-left,
      .se-input-group-lg > .se-btn .se-stacked-icon.top-right {
        font-size: 12px; }
        .se-btn.btn-large .badge, .se-btn.btn-lg .badge, .btn-group-lg .se-btn .badge,
        .se-input-group-lg > .se-btn .badge {
          padding: 2px 7px; }

.se-btn.btn-small, .se-btn.btn-sm, .btn-group-sm .se-btn,
.se-input-group-sm > .se-btn {
  font-size: 12px;
  height: 32px;
  padding: 5px 10px;
  border-radius: 3px; }
  .se-btn.btn-small .se-icon + span, .se-btn.btn-sm .se-icon + span,
  .btn-group-sm .se-btn .se-icon + span, .se-input-group-sm > .se-btn .se-icon + span {
    margin-left: 10px; }
    .se-btn.btn-small .se-stacked-icon.bottom-left,
    .se-btn.btn-small .se-stacked-icon.bottom-right,
    .se-btn.btn-small .se-stacked-icon.top-left,
    .se-btn.btn-small .se-stacked-icon.top-right,
    .se-btn.btn-sm .se-stacked-icon.bottom-left,
    .se-btn.btn-sm .se-stacked-icon.bottom-right,
    .se-btn.btn-sm .se-stacked-icon.top-left,
    .se-btn.btn-sm .se-stacked-icon.top-right,
    .btn-group-sm .se-btn .se-stacked-icon.bottom-left,
    .btn-group-sm .se-btn .se-stacked-icon.bottom-right,
    .btn-group-sm .se-btn .se-stacked-icon.top-left,
    .btn-group-sm .se-btn .se-stacked-icon.top-right,
    .se-input-group-sm > .se-btn .se-stacked-icon.bottom-left,
    .se-input-group-sm > .se-btn .se-stacked-icon.bottom-right,
    .se-input-group-sm > .se-btn .se-stacked-icon.top-left,
    .se-input-group-sm > .se-btn .se-stacked-icon.top-right {
      font-size: 8px; }
      .se-btn.btn-small .badge, .se-btn.btn-sm .badge, .btn-group-sm .se-btn .badge,
      .se-input-group-sm > .se-btn .badge {
        padding: 1px 5px;
        font-size: 11px;
        line-height: 16px; }

.se-btn.btn-mini, .se-btn.btn-xs, .btn-group-xs .se-btn,
.se-input-group-xs > .se-btn {
  font-size: 11px;
  height: 24px;
  padding: 1px 5px;
  border-radius: 3px; }
  .se-btn.btn-mini .se-icon + span, .se-btn.btn-xs .se-icon + span,
  .btn-group-xs .se-btn .se-icon + span, .se-input-group-xs > .se-btn .se-icon + span {
    margin-left: 5px; }
    .se-btn.btn-mini .se-stacked-icon.bottom-left,
    .se-btn.btn-mini .se-stacked-icon.bottom-right,
    .se-btn.btn-mini .se-stacked-icon.top-left,
    .se-btn.btn-mini .se-stacked-icon.top-right,
    .se-btn.btn-xs .se-stacked-icon.bottom-left,
    .se-btn.btn-xs .se-stacked-icon.bottom-right,
    .se-btn.btn-xs .se-stacked-icon.top-left,
    .se-btn.btn-xs .se-stacked-icon.top-right,
    .btn-group-xs .se-btn .se-stacked-icon.bottom-left,
    .btn-group-xs .se-btn .se-stacked-icon.bottom-right,
    .btn-group-xs .se-btn .se-stacked-icon.top-left,
    .btn-group-xs .se-btn .se-stacked-icon.top-right,
    .se-input-group-xs > .se-btn .se-stacked-icon.bottom-left,
    .se-input-group-xs > .se-btn .se-stacked-icon.bottom-right,
    .se-input-group-xs > .se-btn .se-stacked-icon.top-left,
    .se-input-group-xs > .se-btn .se-stacked-icon.top-right {
      font-size: 8px; }
      .se-btn.btn-mini .badge, .se-btn.btn-xs .badge, .btn-group-xs .se-btn .badge,
      .se-input-group-xs > .se-btn .badge {
        padding: 1px 4px;
        font-size: 11px;
        line-height: 16px; }

.btn-group {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  margin: 3px; }

  .btn-group > .se-btn {
    margin: 0px; }

    .btn-group > .se-btn:not(:first-child) {
      margin-left: -1px; }

      .input-prepend > .se-hl-west-container > .se-btn {
        margin: 0 -1px 0 0; }

        .input-prepend > .se-hl-west-container > .se-btn, .btn-group > .se-btn {
          border-radius: 0px; }

          .input-prepend > .se-hl-west-container > .se-btn:first-child,
          .btn-group > .se-btn:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px; }

            .input-append > .se-hl-east-container > .se-btn {
              margin: 0 0 0 -1px; }

              .input-append > .se-hl-east-container > .se-btn {
                border-radius: 0px; }

                .input-append > .se-hl-east-container > .se-btn:last-child,
                .btn-group > .se-btn:last-child {
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px; }

                  .btn-group-justified {
                    position: relative;
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    margin: 0px 0px 10px; }
                    .btn-group-justified > .se-btn {
                      flex-grow: 1;
                      width: 0px; }

.se-btn .se-stacked-icon {
  position: absolute;
  border-radius: 50%; }
  .se-btn .se-stacked-icon.bottom-left {
    left: -20%;
    bottom: -20%; }
    .se-btn .se-stacked-icon.bottom-right {
      right: -20%;
      bottom: -20%; }
      .se-btn .se-stacked-icon.top-left {
        top: -20%;
        left: -20%; }
        .se-btn .se-stacked-icon.top-right {
          top: -20%;
          right: -20%; }

.se-btn.btn-primary {
  color: #FFF;
  border: 1px solid #2b7096;
  background-color: #418cc8;
  border-bottom-color: #20526f;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #69a4d3),
    color-stop(100%, #3072a6));
  background-image: -webkit-linear-gradient(#69a4d3, #3072a6);
  background-image: -moz-linear-gradient(#69a4d3, #3072a6);
  background-image: -o-linear-gradient(#69a4d3, #3072a6);
  background-image: -ms-linear-gradient(#69a4d3, #3072a6);
  background-image: linear-gradient(#69a4d3, #3072a6);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .se-btn.btn-primary .se-stacked-icon {
    background-color: #418cc8;
    border: solid 1px #418cc8; }
    .se-btn.btn-primary:hover, .se-btn.btn-primary:focus, .se-btn.btn-primary.focus,
    .se-btn.btn-primary:active, .se-btn.btn-primary.active,
    .se-btn.btn-primary.disabled, .se-btn.btn-primary[disabled] {
      text-decoration: none;
      color: #FFF;
      background-color: #3072a6;
      background-position: 0 -15px;
      transition: background-position 0.1s linear; }
      .se-btn.btn-primary:hover .se-stacked-icon,
      .se-btn.btn-primary:focus .se-stacked-icon,
      .se-btn.btn-primary.focus .se-stacked-icon,
      .se-btn.btn-primary:active .se-stacked-icon,
      .se-btn.btn-primary.active .se-stacked-icon,
      .se-btn.btn-primary.disabled .se-stacked-icon,
      .se-btn.btn-primary[disabled] .se-stacked-icon {
        background-color: #3072a6; }
        .se-btn.btn-primary:hover .se-stacked-icon.bottom-right,
        .se-btn.btn-primary:focus .se-stacked-icon.bottom-right,
        .se-btn.btn-primary.focus .se-stacked-icon.bottom-right,
        .se-btn.btn-primary:active .se-stacked-icon.bottom-right,
        .se-btn.btn-primary.active .se-stacked-icon.bottom-right,
        .se-btn.btn-primary.disabled .se-stacked-icon.bottom-right,
        .se-btn.btn-primary[disabled] .se-stacked-icon.bottom-right {
          border-left: solid 1px #3072a6; }
  .se-btn.btn-primary:active, .se-btn.btn-primary.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .se-btn.btn-primary:focus {
      outline: none;
      box-shadow: 0 0 6px 2px rgba(82, 168, 236, 0.6); }
      .se-btn.btn-primary:focus:active, .se-btn.btn-primary.focus:active,
      .se-btn.btn-primary:focus.active, .se-btn.btn-primary.focus.active {
        box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 3px 5px rgba(0, 0, 0, 0.125); }
        .se-btn.btn-primary.disabled {
          opacity: 0.65;
          background-image: none;
          cursor: default; }

.se-btn.btn-info {
  color: #FFF;
  border: 1px solid #46c4da;
  background-color: #5bc0de;
  border-bottom-color: #28aec5;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #85d0e7),
    color-stop(100%, #31b0d5));
  background-image: -webkit-linear-gradient(#85d0e7, #31b0d5);
  background-image: -moz-linear-gradient(#85d0e7, #31b0d5);
  background-image: -o-linear-gradient(#85d0e7, #31b0d5);
  background-image: -ms-linear-gradient(#85d0e7, #31b0d5);
  background-image: linear-gradient(#85d0e7, #31b0d5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .se-btn.btn-info .se-stacked-icon {
    background-color: #5bc0de;
    border: solid 1px #5bc0de; }
    .se-btn.btn-info:hover, .se-btn.btn-info:focus, .se-btn.btn-info.focus,
    .se-btn.btn-info:active, .se-btn.btn-info.active, .se-btn.btn-info.disabled,
    .se-btn.btn-info[disabled] {
      text-decoration: none;
      color: #FFF;
      background-color: #31b0d5;
      background-position: 0 -15px;
      transition: background-position 0.1s linear; }
      .se-btn.btn-info:hover .se-stacked-icon, .se-btn.btn-info:focus .se-stacked-icon,
      .se-btn.btn-info.focus .se-stacked-icon, .se-btn.btn-info:active .se-stacked-icon,
      .se-btn.btn-info.active .se-stacked-icon,
      .se-btn.btn-info.disabled .se-stacked-icon,
      .se-btn.btn-info[disabled] .se-stacked-icon {
        background-color: #31b0d5; }
        .se-btn.btn-info:hover .se-stacked-icon.bottom-right,
        .se-btn.btn-info:focus .se-stacked-icon.bottom-right,
        .se-btn.btn-info.focus .se-stacked-icon.bottom-right,
        .se-btn.btn-info:active .se-stacked-icon.bottom-right,
        .se-btn.btn-info.active .se-stacked-icon.bottom-right,
        .se-btn.btn-info.disabled .se-stacked-icon.bottom-right,
        .se-btn.btn-info[disabled] .se-stacked-icon.bottom-right {
          border-left: solid 1px #31b0d5; }
  .se-btn.btn-info:active, .se-btn.btn-info.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .se-btn.btn-info:focus {
      outline: none;
      box-shadow: 0 0 6px 2px rgba(82, 168, 236, 0.6); }
      .se-btn.btn-info:focus:active, .se-btn.btn-info.focus:active,
      .se-btn.btn-info:focus.active, .se-btn.btn-info.focus.active {
        box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 3px 5px rgba(0, 0, 0, 0.125); }
        .se-btn.btn-info.disabled {
          opacity: 0.65;
          background-image: none;
          cursor: default; }

.se-btn.btn-success {
  color: #FFF;
  border: 1px solid #54ae4c;
  background-color: #5cb85c;
  border-bottom-color: #438b3d;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #80c780),
    color-stop(100%, #449d44));
  background-image: -webkit-linear-gradient(#80c780, #449d44);
  background-image: -moz-linear-gradient(#80c780, #449d44);
  background-image: -o-linear-gradient(#80c780, #449d44);
  background-image: -ms-linear-gradient(#80c780, #449d44);
  background-image: linear-gradient(#80c780, #449d44);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .se-btn.btn-success .se-stacked-icon {
    background-color: #5cb85c;
    border: solid 1px #5cb85c; }
    .se-btn.btn-success:hover, .se-btn.btn-success:focus, .se-btn.btn-success.focus,
    .se-btn.btn-success:active, .se-btn.btn-success.active,
    .se-btn.btn-success.disabled, .se-btn.btn-success[disabled] {
      text-decoration: none;
      color: #FFF;
      background-color: #449d44;
      background-position: 0 -15px;
      transition: background-position 0.1s linear; }
      .se-btn.btn-success:hover .se-stacked-icon,
      .se-btn.btn-success:focus .se-stacked-icon,
      .se-btn.btn-success.focus .se-stacked-icon,
      .se-btn.btn-success:active .se-stacked-icon,
      .se-btn.btn-success.active .se-stacked-icon,
      .se-btn.btn-success.disabled .se-stacked-icon,
      .se-btn.btn-success[disabled] .se-stacked-icon {
        background-color: #449d44; }
        .se-btn.btn-success:hover .se-stacked-icon.bottom-right,
        .se-btn.btn-success:focus .se-stacked-icon.bottom-right,
        .se-btn.btn-success.focus .se-stacked-icon.bottom-right,
        .se-btn.btn-success:active .se-stacked-icon.bottom-right,
        .se-btn.btn-success.active .se-stacked-icon.bottom-right,
        .se-btn.btn-success.disabled .se-stacked-icon.bottom-right,
        .se-btn.btn-success[disabled] .se-stacked-icon.bottom-right {
          border-left: solid 1px #449d44; }
  .se-btn.btn-success:active, .se-btn.btn-success.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .se-btn.btn-success:focus {
      outline: none;
      box-shadow: 0 0 6px 2px rgba(82, 168, 236, 0.6); }
      .se-btn.btn-success:focus:active, .se-btn.btn-success.focus:active,
      .se-btn.btn-success:focus.active, .se-btn.btn-success.focus.active {
        box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 3px 5px rgba(0, 0, 0, 0.125); }
        .se-btn.btn-success.disabled {
          opacity: 0.65;
          background-image: none;
          cursor: default; }

.se-btn.btn-warning {
  color: #FFF;
  border: 1px solid #e6a918;
  background-color: #E9C12F;
  border-bottom-color: #b88713;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #eecf5d),
    color-stop(100%, #cfa716));
  background-image: -webkit-linear-gradient(#eecf5d, #cfa716);
  background-image: -moz-linear-gradient(#eecf5d, #cfa716);
  background-image: -o-linear-gradient(#eecf5d, #cfa716);
  background-image: -ms-linear-gradient(#eecf5d, #cfa716);
  background-image: linear-gradient(#eecf5d, #cfa716);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .se-btn.btn-warning .se-stacked-icon {
    background-color: #E9C12F;
    border: solid 1px #E9C12F; }
    .se-btn.btn-warning:hover, .se-btn.btn-warning:focus, .se-btn.btn-warning.focus,
    .se-btn.btn-warning:active, .se-btn.btn-warning.active,
    .se-btn.btn-warning.disabled, .se-btn.btn-warning[disabled] {
      text-decoration: none;
      color: #FFF;
      background-color: #cfa716;
      background-position: 0 -15px;
      transition: background-position 0.1s linear; }
      .se-btn.btn-warning:hover .se-stacked-icon,
      .se-btn.btn-warning:focus .se-stacked-icon,
      .se-btn.btn-warning.focus .se-stacked-icon,
      .se-btn.btn-warning:active .se-stacked-icon,
      .se-btn.btn-warning.active .se-stacked-icon,
      .se-btn.btn-warning.disabled .se-stacked-icon,
      .se-btn.btn-warning[disabled] .se-stacked-icon {
        background-color: #cfa716; }
        .se-btn.btn-warning:hover .se-stacked-icon.bottom-right,
        .se-btn.btn-warning:focus .se-stacked-icon.bottom-right,
        .se-btn.btn-warning.focus .se-stacked-icon.bottom-right,
        .se-btn.btn-warning:active .se-stacked-icon.bottom-right,
        .se-btn.btn-warning.active .se-stacked-icon.bottom-right,
        .se-btn.btn-warning.disabled .se-stacked-icon.bottom-right,
        .se-btn.btn-warning[disabled] .se-stacked-icon.bottom-right {
          border-left: solid 1px #cfa716; }
  .se-btn.btn-warning:active, .se-btn.btn-warning.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .se-btn.btn-warning:focus {
      outline: none;
      box-shadow: 0 0 6px 2px rgba(82, 168, 236, 0.6); }
      .se-btn.btn-warning:focus:active, .se-btn.btn-warning.focus:active,
      .se-btn.btn-warning:focus.active, .se-btn.btn-warning.focus.active {
        box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 3px 5px rgba(0, 0, 0, 0.125); }
        .se-btn.btn-warning.disabled {
          opacity: 0.65;
          background-image: none;
          cursor: default; }

.se-btn.btn-danger {
  color: #FFF;
  border: 1px solid #d33a41;
  background-color: #D8544F;
  border-bottom-color: #b3282e;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #e17d79),
    color-stop(100%, #c8322c));
  background-image: -webkit-linear-gradient(#e17d79, #c8322c);
  background-image: -moz-linear-gradient(#e17d79, #c8322c);
  background-image: -o-linear-gradient(#e17d79, #c8322c);
  background-image: -ms-linear-gradient(#e17d79, #c8322c);
  background-image: linear-gradient(#e17d79, #c8322c);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
  .se-btn.btn-danger .se-stacked-icon {
    background-color: #D8544F;
    border: solid 1px #D8544F; }
    .se-btn.btn-danger:hover, .se-btn.btn-danger:focus, .se-btn.btn-danger.focus,
    .se-btn.btn-danger:active, .se-btn.btn-danger.active, .se-btn.btn-danger.disabled,
    .se-btn.btn-danger[disabled] {
      text-decoration: none;
      color: #FFF;
      background-color: #c8322c;
      background-position: 0 -15px;
      transition: background-position 0.1s linear; }
      .se-btn.btn-danger:hover .se-stacked-icon,
      .se-btn.btn-danger:focus .se-stacked-icon,
      .se-btn.btn-danger.focus .se-stacked-icon,
      .se-btn.btn-danger:active .se-stacked-icon,
      .se-btn.btn-danger.active .se-stacked-icon,
      .se-btn.btn-danger.disabled .se-stacked-icon,
      .se-btn.btn-danger[disabled] .se-stacked-icon {
        background-color: #c8322c; }
        .se-btn.btn-danger:hover .se-stacked-icon.bottom-right,
        .se-btn.btn-danger:focus .se-stacked-icon.bottom-right,
        .se-btn.btn-danger.focus .se-stacked-icon.bottom-right,
        .se-btn.btn-danger:active .se-stacked-icon.bottom-right,
        .se-btn.btn-danger.active .se-stacked-icon.bottom-right,
        .se-btn.btn-danger.disabled .se-stacked-icon.bottom-right,
        .se-btn.btn-danger[disabled] .se-stacked-icon.bottom-right {
          border-left: solid 1px #c8322c; }
  .se-btn.btn-danger:active, .se-btn.btn-danger.active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .se-btn.btn-danger:focus {
      outline: none;
      box-shadow: 0 0 6px 2px rgba(82, 168, 236, 0.6); }
      .se-btn.btn-danger:focus:active, .se-btn.btn-danger.focus:active,
      .se-btn.btn-danger:focus.active, .se-btn.btn-danger.focus.active {
        box-shadow: 0 0 8px rgba(82, 168, 236, 0.6), inset 0 3px 5px rgba(0, 0, 0, 0.125); }
        .se-btn.btn-danger.disabled {
          opacity: 0.65;
          background-image: none;
          cursor: default; }

.se-btn > input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer; }

  .se-btn.btn-circle, .btn-group-circle > .se-btn {
    padding: 0;
    background-image: none;
    border-radius: 50%;
    text-shadow: none;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 28px; }
    .se-btn.btn-circle.btn-link, .btn-group-circle > .se-btn.btn-link {
      line-height: 30px; }
      .se-btn.btn-circle.btn-link, .btn-group-circle > .se-btn.btn-link {
        border-width: 0; }

.btn-circle.btn-default, .btn-group-circle > .btn-default {
  background-color: white;
  border-color: #dbdbdb;
  color: #333; }
  .btn-circle.btn-default:hover, .btn-circle.btn-default:focus,
  .btn-group-circle > .btn-default:hover, .btn-group-circle > .btn-default:focus {
    background-color: #dbdbdb;
    border-color: #dbdbdb; }
    .btn-circle.btn-default:active, .btn-circle.btn-default:active:hover,
    .btn-circle.btn-default:active:focus, .btn-circle.btn-default.active,
    .btn-circle.btn-default.active:hover, .btn-circle.btn-default.active:focus,
    .btn-group-circle > .btn-default:active,
    .btn-group-circle > .btn-default:active:hover,
    .btn-group-circle > .btn-default:active:focus,
    .btn-group-circle > .btn-default.active,
    .btn-group-circle > .btn-default.active:hover,
    .btn-group-circle > .btn-default.active:focus {
      background-color: #e6e6e6;
      border-color: #e6e6e6; }
  .btn-circle.btn-default.disabled, .btn-circle.btn-default.disabled:hover,
  .btn-circle.btn-default.disabled:focus, .btn-circle.btn-default.disabled:active,
  .btn-circle.btn-default.disabled:active:hover,
  .btn-circle.btn-default.disabled:active:focus, .btn-circle.btn-default[disabled],
  .btn-circle.btn-default[disabled]:hover, .btn-circle.btn-default[disabled]:focus,
  .btn-circle.btn-default[disabled]:active,
  .btn-circle.btn-default[disabled]:active:hover,
  .btn-circle.btn-default[disabled]:active:focus,
  .btn-group-circle > .btn-default.disabled,
  .btn-group-circle > .btn-default.disabled:hover,
  .btn-group-circle > .btn-default.disabled:focus,
  .btn-group-circle > .btn-default.disabled:active,
  .btn-group-circle > .btn-default.disabled:active:hover,
  .btn-group-circle > .btn-default.disabled:active:focus,
  .btn-group-circle > .btn-default[disabled],
  .btn-group-circle > .btn-default[disabled]:hover,
  .btn-group-circle > .btn-default[disabled]:focus,
  .btn-group-circle > .btn-default[disabled]:active,
  .btn-group-circle > .btn-default[disabled]:active:hover,
  .btn-group-circle > .btn-default[disabled]:active:focus {
    background-color: white;
    border-color: #dbdbdb; }

.btn-circle.btn-primary, .btn-group-circle > .btn-primary {
  background-color: #418cc8;
  border-color: #2b7096;
  color: #FFF; }
  .btn-circle.btn-primary:hover, .btn-circle.btn-primary:focus,
  .btn-group-circle > .btn-primary:hover, .btn-group-circle > .btn-primary:focus {
    background-color: #2b7096;
    border-color: #2b7096; }
    .btn-circle.btn-primary:active, .btn-circle.btn-primary:active:hover,
    .btn-circle.btn-primary:active:focus, .btn-circle.btn-primary.active,
    .btn-circle.btn-primary.active:hover, .btn-circle.btn-primary.active:focus,
    .btn-group-circle > .btn-primary:active,
    .btn-group-circle > .btn-primary:active:hover,
    .btn-group-circle > .btn-primary:active:focus,
    .btn-group-circle > .btn-primary.active,
    .btn-group-circle > .btn-primary.active:hover,
    .btn-group-circle > .btn-primary.active:focus {
      background-color: #3072a6;
      border-color: #3072a6; }
  .btn-circle.btn-primary.disabled, .btn-circle.btn-primary.disabled:hover,
  .btn-circle.btn-primary.disabled:focus, .btn-circle.btn-primary.disabled:active,
  .btn-circle.btn-primary.disabled:active:hover,
  .btn-circle.btn-primary.disabled:active:focus, .btn-circle.btn-primary[disabled],
  .btn-circle.btn-primary[disabled]:hover, .btn-circle.btn-primary[disabled]:focus,
  .btn-circle.btn-primary[disabled]:active,
  .btn-circle.btn-primary[disabled]:active:hover,
  .btn-circle.btn-primary[disabled]:active:focus,
  .btn-group-circle > .btn-primary.disabled,
  .btn-group-circle > .btn-primary.disabled:hover,
  .btn-group-circle > .btn-primary.disabled:focus,
  .btn-group-circle > .btn-primary.disabled:active,
  .btn-group-circle > .btn-primary.disabled:active:hover,
  .btn-group-circle > .btn-primary.disabled:active:focus,
  .btn-group-circle > .btn-primary[disabled],
  .btn-group-circle > .btn-primary[disabled]:hover,
  .btn-group-circle > .btn-primary[disabled]:focus,
  .btn-group-circle > .btn-primary[disabled]:active,
  .btn-group-circle > .btn-primary[disabled]:active:hover,
  .btn-group-circle > .btn-primary[disabled]:active:focus {
    background-color: #418cc8;
    border-color: #2b7096; }

.btn-circle.btn-success, .btn-group-circle > .btn-success {
  background-color: #5cb85c;
  border-color: #54ae4c;
  color: #FFF; }
  .btn-circle.btn-success:hover, .btn-circle.btn-success:focus,
  .btn-group-circle > .btn-success:hover, .btn-group-circle > .btn-success:focus {
    background-color: #54ae4c;
    border-color: #54ae4c; }
    .btn-circle.btn-success:active, .btn-circle.btn-success:active:hover,
    .btn-circle.btn-success:active:focus, .btn-circle.btn-success.active,
    .btn-circle.btn-success.active:hover, .btn-circle.btn-success.active:focus,
    .btn-group-circle > .btn-success:active,
    .btn-group-circle > .btn-success:active:hover,
    .btn-group-circle > .btn-success:active:focus,
    .btn-group-circle > .btn-success.active,
    .btn-group-circle > .btn-success.active:hover,
    .btn-group-circle > .btn-success.active:focus {
      background-color: #449d44;
      border-color: #449d44; }
  .btn-circle.btn-success.disabled, .btn-circle.btn-success.disabled:hover,
  .btn-circle.btn-success.disabled:focus, .btn-circle.btn-success.disabled:active,
  .btn-circle.btn-success.disabled:active:hover,
  .btn-circle.btn-success.disabled:active:focus, .btn-circle.btn-success[disabled],
  .btn-circle.btn-success[disabled]:hover, .btn-circle.btn-success[disabled]:focus,
  .btn-circle.btn-success[disabled]:active,
  .btn-circle.btn-success[disabled]:active:hover,
  .btn-circle.btn-success[disabled]:active:focus,
  .btn-group-circle > .btn-success.disabled,
  .btn-group-circle > .btn-success.disabled:hover,
  .btn-group-circle > .btn-success.disabled:focus,
  .btn-group-circle > .btn-success.disabled:active,
  .btn-group-circle > .btn-success.disabled:active:hover,
  .btn-group-circle > .btn-success.disabled:active:focus,
  .btn-group-circle > .btn-success[disabled],
  .btn-group-circle > .btn-success[disabled]:hover,
  .btn-group-circle > .btn-success[disabled]:focus,
  .btn-group-circle > .btn-success[disabled]:active,
  .btn-group-circle > .btn-success[disabled]:active:hover,
  .btn-group-circle > .btn-success[disabled]:active:focus {
    background-color: #5cb85c;
    border-color: #54ae4c; }

.btn-circle.btn-info, .btn-group-circle > .btn-info {
  background-color: #5bc0de;
  border-color: #46c4da;
  color: #FFF; }
  .btn-circle.btn-info:hover, .btn-circle.btn-info:focus,
  .btn-group-circle > .btn-info:hover, .btn-group-circle > .btn-info:focus {
    background-color: #46c4da;
    border-color: #46c4da; }
    .btn-circle.btn-info:active, .btn-circle.btn-info:active:hover,
    .btn-circle.btn-info:active:focus, .btn-circle.btn-info.active,
    .btn-circle.btn-info.active:hover, .btn-circle.btn-info.active:focus,
    .btn-group-circle > .btn-info:active, .btn-group-circle > .btn-info:active:hover,
    .btn-group-circle > .btn-info:active:focus, .btn-group-circle > .btn-info.active,
    .btn-group-circle > .btn-info.active:hover,
    .btn-group-circle > .btn-info.active:focus {
      background-color: #31b0d5;
      border-color: #31b0d5; }
  .btn-circle.btn-info.disabled, .btn-circle.btn-info.disabled:hover,
  .btn-circle.btn-info.disabled:focus, .btn-circle.btn-info.disabled:active,
  .btn-circle.btn-info.disabled:active:hover,
  .btn-circle.btn-info.disabled:active:focus, .btn-circle.btn-info[disabled],
  .btn-circle.btn-info[disabled]:hover, .btn-circle.btn-info[disabled]:focus,
  .btn-circle.btn-info[disabled]:active, .btn-circle.btn-info[disabled]:active:hover,
  .btn-circle.btn-info[disabled]:active:focus,
  .btn-group-circle > .btn-info.disabled,
  .btn-group-circle > .btn-info.disabled:hover,
  .btn-group-circle > .btn-info.disabled:focus,
  .btn-group-circle > .btn-info.disabled:active,
  .btn-group-circle > .btn-info.disabled:active:hover,
  .btn-group-circle > .btn-info.disabled:active:focus,
  .btn-group-circle > .btn-info[disabled],
  .btn-group-circle > .btn-info[disabled]:hover,
  .btn-group-circle > .btn-info[disabled]:focus,
  .btn-group-circle > .btn-info[disabled]:active,
  .btn-group-circle > .btn-info[disabled]:active:hover,
  .btn-group-circle > .btn-info[disabled]:active:focus {
    background-color: #5bc0de;
    border-color: #46c4da; }

.btn-circle.btn-warning, .btn-group-circle > .btn-warning {
  background-color: #E9C12F;
  border-color: #e6a918;
  color: #FFF; }
  .btn-circle.btn-warning:hover, .btn-circle.btn-warning:focus,
  .btn-group-circle > .btn-warning:hover, .btn-group-circle > .btn-warning:focus {
    background-color: #e6a918;
    border-color: #e6a918; }
    .btn-circle.btn-warning:active, .btn-circle.btn-warning:active:hover,
    .btn-circle.btn-warning:active:focus, .btn-circle.btn-warning.active,
    .btn-circle.btn-warning.active:hover, .btn-circle.btn-warning.active:focus,
    .btn-group-circle > .btn-warning:active,
    .btn-group-circle > .btn-warning:active:hover,
    .btn-group-circle > .btn-warning:active:focus,
    .btn-group-circle > .btn-warning.active,
    .btn-group-circle > .btn-warning.active:hover,
    .btn-group-circle > .btn-warning.active:focus {
      background-color: #cfa716;
      border-color: #cfa716; }
  .btn-circle.btn-warning.disabled, .btn-circle.btn-warning.disabled:hover,
  .btn-circle.btn-warning.disabled:focus, .btn-circle.btn-warning.disabled:active,
  .btn-circle.btn-warning.disabled:active:hover,
  .btn-circle.btn-warning.disabled:active:focus, .btn-circle.btn-warning[disabled],
  .btn-circle.btn-warning[disabled]:hover, .btn-circle.btn-warning[disabled]:focus,
  .btn-circle.btn-warning[disabled]:active,
  .btn-circle.btn-warning[disabled]:active:hover,
  .btn-circle.btn-warning[disabled]:active:focus,
  .btn-group-circle > .btn-warning.disabled,
  .btn-group-circle > .btn-warning.disabled:hover,
  .btn-group-circle > .btn-warning.disabled:focus,
  .btn-group-circle > .btn-warning.disabled:active,
  .btn-group-circle > .btn-warning.disabled:active:hover,
  .btn-group-circle > .btn-warning.disabled:active:focus,
  .btn-group-circle > .btn-warning[disabled],
  .btn-group-circle > .btn-warning[disabled]:hover,
  .btn-group-circle > .btn-warning[disabled]:focus,
  .btn-group-circle > .btn-warning[disabled]:active,
  .btn-group-circle > .btn-warning[disabled]:active:hover,
  .btn-group-circle > .btn-warning[disabled]:active:focus {
    background-color: #E9C12F;
    border-color: #e6a918; }

.btn-circle.btn-danger, .btn-group-circle > .btn-danger {
  background-color: #D8544F;
  border-color: #d33a41;
  color: #FFF; }
  .btn-circle.btn-danger:hover, .btn-circle.btn-danger:focus,
  .btn-group-circle > .btn-danger:hover, .btn-group-circle > .btn-danger:focus {
    background-color: #d33a41;
    border-color: #d33a41; }
    .btn-circle.btn-danger:active, .btn-circle.btn-danger:active:hover,
    .btn-circle.btn-danger:active:focus, .btn-circle.btn-danger.active,
    .btn-circle.btn-danger.active:hover, .btn-circle.btn-danger.active:focus,
    .btn-group-circle > .btn-danger:active,
    .btn-group-circle > .btn-danger:active:hover,
    .btn-group-circle > .btn-danger:active:focus,
    .btn-group-circle > .btn-danger.active,
    .btn-group-circle > .btn-danger.active:hover,
    .btn-group-circle > .btn-danger.active:focus {
      background-color: #c8322c;
      border-color: #c8322c; }
  .btn-circle.btn-danger.disabled, .btn-circle.btn-danger.disabled:hover,
  .btn-circle.btn-danger.disabled:focus, .btn-circle.btn-danger.disabled:active,
  .btn-circle.btn-danger.disabled:active:hover,
  .btn-circle.btn-danger.disabled:active:focus, .btn-circle.btn-danger[disabled],
  .btn-circle.btn-danger[disabled]:hover, .btn-circle.btn-danger[disabled]:focus,
  .btn-circle.btn-danger[disabled]:active,
  .btn-circle.btn-danger[disabled]:active:hover,
  .btn-circle.btn-danger[disabled]:active:focus,
  .btn-group-circle > .btn-danger.disabled,
  .btn-group-circle > .btn-danger.disabled:hover,
  .btn-group-circle > .btn-danger.disabled:focus,
  .btn-group-circle > .btn-danger.disabled:active,
  .btn-group-circle > .btn-danger.disabled:active:hover,
  .btn-group-circle > .btn-danger.disabled:active:focus,
  .btn-group-circle > .btn-danger[disabled],
  .btn-group-circle > .btn-danger[disabled]:hover,
  .btn-group-circle > .btn-danger[disabled]:focus,
  .btn-group-circle > .btn-danger[disabled]:active,
  .btn-group-circle > .btn-danger[disabled]:active:hover,
  .btn-group-circle > .btn-danger[disabled]:active:focus {
    background-color: #D8544F;
    border-color: #d33a41; }

.btn-group > .btn-circle:first-child, .btn-group > .btn-circle:last-child,
.btn-group-circle > .se-btn:first-child, .btn-group-circle > .se-btn:last-child {
  border-radius: 50%; }
  .btn-group > .btn-circle:not(:first-child),
  .btn-group-circle > .se-btn:not(:first-child) {
    margin-left: 1px; }

.btn-lg.btn-circle, .btn-group-lg > .btn-circle,
.btn-group-lg.btn-group-circle > .se-btn {
  width: 36px;
  height: 36px;
  font-size: 18px;
  line-height: 34px; }
  .btn-lg.btn-circle.btn-link, .btn-group-lg > .btn-circle.btn-link,
  .btn-group-lg.btn-group-circle > .se-btn.btn-link {
    line-height: 36px; }

.btn-sm.btn-circle, .btn-group-sm > .btn-circle,
.btn-group-sm.btn-group-circle > .se-btn {
  width: 27px;
  height: 27px;
  font-size: 12px;
  line-height: 25px; }
  .btn-sm.btn-circle.btn-link, .btn-group-sm > .btn-circle.btn-link,
  .btn-group-sm.btn-group-circle > .se-btn.btn-link {
    line-height: 27px; }

.btn-xs.btn-circle, .btn-group-xs > .btn-circle,
.btn-group-xs.btn-group-circle > .se-btn {
  width: 24px;
  height: 24px;
  font-size: 11px;
  line-height: 22px; }
  .btn-xs.btn-circle.btn-link, .btn-group-xs > .btn-circle.btn-link,
  .btn-group-xs.btn-group-circle > .se-btn.btn-link {
    line-height: 24px; }

@keyframes se-busy-spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);   }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(359deg);
      transform: translate(-50%, -50%) rotate(359deg);   }
}

.se-btn.busy:before {
  animation: se-busy-spin 2s infinite linear;
  content: "";
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: 120%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%; }
  .se-btn.busy > * {
    visibility: hidden; }

@keyframes btn-has-alert {
  50% {
    background-color: #d33a41;
    border-color: #d33a41;
    color: #FFF;   }
}

.se-btn.has-alert:not(.disabled), .se-btn.has-alert:not([disabled]) {
  animation: btn-has-alert 1.5s infinite; }
