.wc-widget {
  position: absolute;
  transition: opacity 0.35s ease-in, top 0.2s ease-in, left 0.2s ease-in, width 0.2s ease-in,
    height 0.2s ease-in, box-shadow 0.7s ease-in;
  overflow: visible;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0px; }
  .wc-widget.dragging {
    transition: opacity 0.35s ease-in;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
    .wc-widget.dragging > .wc-widget-heading {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing; }

.wc-widget-heading {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  position: relative;
  flex-grow: 0; }
  .wc-widget-heading > span {
    display: inline-block; }
    .wc-widget-heading .se-btn {
      font-size: 75%;
      color: #888;
      transition: color 1s ease-in; }

.wc-widget-buttons {
  display: block;
  position: absolute;
  top: 10px;
  right: 0px;
  background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, rgba(245, 245,
    245, 0)), color-stop(38px, whitesmoke), color-stop(100%, whitesmoke));
  background-image: -webkit-linear-gradient(to right, rgba(245, 245, 245, 0), whitesmoke 38px,
    whitesmoke);
  background-image: -moz-linear-gradient(to right, rgba(245, 245, 245, 0), whitesmoke 38px,
    whitesmoke);
  background-image: -o-linear-gradient(to right, rgba(245, 245, 245, 0), whitesmoke 38px, whitesmoke);
  background-image: -ms-linear-gradient(to right, rgba(245, 245, 245, 0), whitesmoke 38px,
    whitesmoke);
  background-image: linear-gradient(to right, rgba(245, 245, 245, 0), whitesmoke 38px, whitesmoke);
  padding: 0px 10px 0px 38px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 1s ease-in;
  font-size: 17px;
  line-height: 1.1; }
  .wc-widget-heading:hover > .wc-widget-buttons {
    opacity: 1; }

.wc-widget-infobuttons {
  padding: 0px 38px 0px 10px;
  background-image: -webkit-gradient(linear, to left, to right, color-stop(0%, rgba(245, 245,
    245, 0)), color-stop(38px, whitesmoke), color-stop(100%, whitesmoke));
  background-image: -webkit-linear-gradient(to left, rgba(245, 245, 245, 0), whitesmoke 38px,
    whitesmoke);
  background-image: -moz-linear-gradient(to left, rgba(245, 245, 245, 0), whitesmoke 38px,
    whitesmoke);
  background-image: -o-linear-gradient(to left, rgba(245, 245, 245, 0), whitesmoke 38px, whitesmoke);
  background-image: -ms-linear-gradient(to left, rgba(245, 245, 245, 0), whitesmoke 38px, whitesmoke);
  background-image: linear-gradient(to left, rgba(245, 245, 245, 0), whitesmoke 38px, whitesmoke);
  position: absolute;
  top: 10px;
  left: 0px;
  margin: 0px;
  font-size: 17px;
  line-height: 1.1; }

  .wc-widget-heading .errorbutton.disabled {
    display: none; }

    .wc-widget-body {
      background: #FFF;
      flex-grow: 1;
      overflow: hidden;
      position: relative; }
      .wc-widget-body > iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0px none; }

.wc-widget-footer {
  height: 3px;
  padding: 0 32px;
  position: static;
  flex-grow: 0;
  color: #333;
  background: whitesmoke; }

  .wc-widget .wc-bottom-resize-handle {
    position: absolute;
    height: 12px;
    bottom: -6px;
    left: 34px;
    right: 34px;
    cursor: s-resize; }

    .wc-widget .wc-bottom-left-resize-handle {
      position: absolute;
      width: 40px;
      height: 12px;
      bottom: -6px;
      left: -6px;
      cursor: sw-resize; }
      .wc-widget .wc-bottom-left-resize-handle.inUse {
        right: 0px;
        top: 0px;
        bottom: auto;
        left: auto; }

.wc-widget .wc-bottom-right-resize-handle {
  position: absolute;
  width: 40px;
  height: 12px;
  bottom: -6px;
  right: -6px;
  cursor: se-resize; }
  .wc-widget .wc-bottom-right-resize-handle.inUse {
    left: 0px;
    top: 0px;
    bottom: auto;
    right: auto; }

.wc-widget .inUse {
  width: 200%;
  height: 200%; }

  .wc-widget-fulldragboard {
    position: fixed;
    border: 0px none; }
    .wc-widget-fulldragboard > .wc-widget-footer {
      display: none; }
      .wc-widget-fulldragboard > .wc-widget-heading {
        cursor: default; }
        .wc-widget-fulldragboard > .wc-widget-heading > .fa-minus {
          display: none; }

.fixed .wc-widget > .wc-widget-heading {
  cursor: default; }
  .fixed .wc-widget .wc-bottom-left-resize-handle,
  .fixed .wc-widget .wc-bottom-right-resize-handle,
  .fixed .wc-widget .wc-bottom-resize-handle {
    display: none; }

@-webkit-keyframes highlight_iwidget {
  0% {
  }
    15% {
      box-shadow: none;   }
      35% {
        box-shadow: 0 6px 12px rgba(84, 174, 76, 0.23), 0 10px 40px rgba(84, 174, 76, 0.19);   }
        50% {
          box-shadow: none;   }
          65% {
            box-shadow: 0 6px 12px rgba(84, 174, 76, 0.23), 0 10px 40px rgba(84, 174, 76, 0.19);   }
            100% {
              box-shadow: 0 3px 12px rgba(84, 174, 76, 0.23), 0 3px 12px rgba(84, 174, 76, 0.16);   }
}

@-moz-keyframes highlight_iwidget {
  0% {
  }
    15% {
      box-shadow: none;   }
      35% {
        box-shadow: 0 6px 12px rgba(84, 174, 76, 0.23), 0 10px 40px rgba(84, 174, 76, 0.19);   }
        50% {
          box-shadow: none;   }
          65% {
            box-shadow: 0 6px 12px rgba(84, 174, 76, 0.23), 0 10px 40px rgba(84, 174, 76, 0.19);   }
            100% {
              box-shadow: 0 3px 12px rgba(84, 174, 76, 0.23), 0 3px 12px rgba(84, 174, 76, 0.16);   }
}

@keyframes highlight_iwidget {
  0% {
  }
    15% {
      box-shadow: none;   }
      35% {
        box-shadow: 0 6px 12px rgba(84, 174, 76, 0.23), 0 10px 40px rgba(84, 174, 76, 0.19);   }
        50% {
          box-shadow: none;   }
          65% {
            box-shadow: 0 6px 12px rgba(84, 174, 76, 0.23), 0 10px 40px rgba(84, 174, 76, 0.19);   }
            100% {
              box-shadow: 0 3px 12px rgba(84, 174, 76, 0.23), 0 3px 12px rgba(84, 174, 76, 0.16);   }
}

.wc-widget-highlight {
  box-shadow: 0 3px 12px rgba(84, 174, 76, 0.23), 0 3px 12px rgba(84, 174, 76, 0.16);
  -webkit-animation: highlight_iwidget, 5s, linear;
  -moz-animation: highlight_iwidget, 5s, linear;
  -ms-animation: highlight_iwidget, 5s, linear;
  -o-animation: highlight_iwidget, 5s, linear;
  animation: highlight_iwidget 5s linear; }
  .wc-widget-highlight .wc-widget-buttons {
    background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, rgba(216, 238,
        216, 0)), color-stop(38px, #d8eed8), color-stop(100%, #d8eed8));
    background-image: -webkit-linear-gradient(to right, rgba(216, 238, 216, 0), #d8eed8 38px,
        #d8eed8);
    background-image: -moz-linear-gradient(to right, rgba(216, 238, 216, 0), #d8eed8 38px, #d8eed8);
    background-image: -o-linear-gradient(to right, rgba(216, 238, 216, 0), #d8eed8 38px, #d8eed8);
    background-image: -ms-linear-gradient(to right, rgba(216, 238, 216, 0), #d8eed8 38px, #d8eed8);
    background-image: linear-gradient(to right, rgba(216, 238, 216, 0), #d8eed8 38px, #d8eed8); }
    .wc-widget-highlight .wc-widget-infobuttons {
      background-image: -webkit-gradient(linear, to left, to right, color-stop(0%, rgba(216, 238,
            216, 0)), color-stop(38px, #d8eed8), color-stop(100%, #d8eed8));
      background-image: -webkit-linear-gradient(to left, rgba(216, 238, 216, 0), #d8eed8 38px,
            #d8eed8);
      background-image: -moz-linear-gradient(to left, rgba(216, 238, 216, 0), #d8eed8 38px, #d8eed8);
      background-image: -o-linear-gradient(to left, rgba(216, 238, 216, 0), #d8eed8 38px, #d8eed8);
      background-image: -ms-linear-gradient(to left, rgba(216, 238, 216, 0), #d8eed8 38px, #d8eed8);
      background-image: linear-gradient(to left, rgba(216, 238, 216, 0), #d8eed8 38px, #d8eed8); }

.wc-minimized-widget .wc-widget-heading {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }
  .wc-minimized-widget .wc-widget-body {
    visibility: hidden;
    height: 0px; }
    .wc-minimized-widget .wc-widget-footer {
      display: none; }

.wc-missing-widget {
  box-shadow: none; }

  .wc-floating-widget {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
    .wc-floating-widget.wc-missing-widget {
      box-shadow: 0 3px 12px rgba(211, 58, 65, 0.23), 0 3px 12px rgba(211, 58, 65, 0.16); }
