.z-depth-0 {
  box-shadow: none !important; }

  .z-depth-0-bottom {
    box-shadow: none !important; }

    .z-depth-1-bottom {
      box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12) !important; }

      .z-depth-2-bottom {
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16) !important; }

        .z-depth-3-bottom {
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19) !important; }

          .z-depth-4-bottom {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25) !important; }

            .z-depth-5-bottom {
              box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3) !important; }
